/* renderer/control-centre/control-centre.css */

#pf-root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Scrollbar styling for the entire CC */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--pf-color-border);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pf-color-text-muted);
}
